@import "libscss/responsive";
@import "libscss/colors";

/*
h1 52px 3.250em
h2 38px 2.375em
h3 32px 2.000em
h4 26px 1.625em
h5 19px 1.188em
h6 16px 1.000em
*/
$type-sizes: (
    body: 16px,
    h1: 3.250em,
    h2: 2.375em,
    h3: 2.000em,
    h4: 1.625em,
    h5: 1.188em,
    h6: 1.000em,
);

$type-line-heights: (
    body: 1.3,
    h1: 1.2,
    h2: 1.2,
    h3: 1.2,
    h4: 1.2,
    h5: 1.2,
    h6: 1.2,
);

$type-families: (
    body: 'Roboto, sans-serif',
    h1: '"Roboto Bold", sans-serif',
    h2: '"Roboto Bold", sans-serif',
    h3: '"Roboto Bold", sans-serif',
    h4: '"Roboto Bold", sans-serif',
    h5: '"Roboto Light", sans-serif',
    h6: '"Roboto Light", sans-serif',
);

$type-colors: (
    body: $color-grey,
    h1: $color-grey,
    h2: $color-darkgrey,
    h3: $color-darkgrey,
    h4: $color-darkgrey,
    h5: $color-darkgrey,
    h6: $color-darkgrey,
);

@mixin type-info($name) {
    font-size: #{map-get($type-sizes, $name)};
    line-height: #{map-get($type-line-heights, $name)};
    color: #{map-get($type-colors, $name)};
    font-family: #{map-get($type-families, $name)};
}

@mixin type-font-size($name) {
    font-size: #{map-get($type-sizes, $name)};
}

@mixin type-info-breakpoints($phone, $tablet, $desktop) {
    @include type-info($desktop);
    @include phone { @include type-font-size($phone); }
    @include tablet-portrait-up { @include type-font-size($tablet); }
    @include desktop-up { @include type-font-size($desktop); }
}

@mixin type-body {
    @include type-info("body");
}
@mixin type-h1 { @include type-info-breakpoints("h3", "h2", "h1"); }
@mixin type-h2 { @include type-info-breakpoints("h4", "h3", "h2"); }
@mixin type-h3 { @include type-info-breakpoints("h5", "h4", "h3"); }
@mixin type-h4 { @include type-info-breakpoints("h6", "h5", "h4"); }
@mixin type-h5 { @include type-info-breakpoints("h6", "h6", "h5"); }
@mixin type-h6 { @include type-info-breakpoints("h6", "h6", "h6"); }
